Dear <%= name%>,
<br><br>
Thank you for signing up with Stock Portfolio. To use your new account please follow <a href="<%= resetUrl %>">this link</a> to set your password.
<br><br>
Regards
<br><br>
Sean
