<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <form name="sell" class="form-inline" ng-submit="submitSell()" autocomplete="off">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Sell Shares</h4>
      </div>
      <div class="modal-body">

        <h4>You have {{sellStock.qty}} shares of {{sellStock.Name}}</h4>
        <h4>--- Currently Valued at {{sellStock.LastTradePriceOnly | currency }} a share</h4>
        <br>
        <h4>How many would you like to sell?</h4>
        <br>


      <div class="form-group col-xs-3">
          <label for="count" class="sr-only"></label>
          <input id="count" class="form-control input-group-lg reg_name" type="number" ng-required="true" ng-model="sellStock.sellQty" placeholder="qty"/>
        </div>


      <div class="form-group col-xs-4">
          <label for="price" class="sr-only"></label>
          <p class="input-group">
            <span class="input-group-addon">$</span>
            <input id="price" class="form-control input-group-lg reg_name" type="text" name="price" title="price" ng-required="true" ng-model="sellStock.sPrice" placeholder="price" money/>
           </p>
         </div>


      <div class="form-group col-xs-4">
          <label for="date" class="sr-only"></label>
          <input type="text"  
          class="form-control input-group-lg reg_name"
          ng-model="sellStock.sDate"
          placeholder="date (Optional)" 
          data-date-format="dd MMM yyyy"
          data-autoclose="true"
          bs-datepicker>
          </input>
      </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="$hide()">Delete</button>
        <button type="button" class="btn btn-default" ng-click="$hide()">Cancel</button>
        <button type="submit" class="btn btn-primary">Sell</button>
      </div>
</form>
    </div>
  </div>
</div>
