<div class="container">

  <div class="page-header text-center">
    <h1>
    <span class="fa fa-university"> </span> 
      Portfolio
    </h1>
      </div>

<form name="buy" class="form-inline" ng-submit="submit()" autocomplete="off">
  <div class="row">
      <div class="form-group col-xs-2 col-sm-offset-2">
          <label for="stock" class="sr-only"></label>
          <input id="Stock" class="form-control input-group-lg reg_name" type="text" name="Stock Name" ng-required="true" ng-model="buy.name" ng-class="{'has-error':invalidStock && buy.name}" ng-change="searchChanged(buy.name)" title="Stock" placeholder="Stock"/>
      </div>

      <div class="form-group col-xs-2">
          <label for="count" class="sr-only"></label>
          <input id="count" class="form-control input-group-lg reg_name" type="number" ng-required="true" ng-model="buy.qty" placeholder="qty"/>
      </div>
      <div class="form-group col-xs-2">
          <label for="price" class="sr-only"></label>
          <p class="input-group">
            <span class="input-group-addon">$</span>
            <input id="price" class="form-control input-group-lg reg_name" type="text" name="price" title="price" ng-required="true" ng-model="buy.bPrice" placeholder="price" money/>
           </p>
      </div>

      <div class="form-group col-xs-2">
          <label for="date" class="sr-only"></label>
          <input type="text"  
          class="form-control input-group-lg reg_name"
          ng-model="buy.bDate"
          ng-required="false"
          placeholder="date" 
          data-date-format="dd MMM yyyy"
          data-autoclose="true"
          bs-datepicker>
      </div>
      <button class="btn btn-success" ng-disabled="invalidStock" type="submit" id="single-button"><i class="fa fa-plus"></i></button>
  </div>
</form>
<br>
<div id="Stocks" ng-hide="invalidStock">
  <span class="Symbol">
    <b class="Stat"><i data-replace='Symbol'>{{buy.name}}</i>:<i data-replace='StockExchange'>{{searchStock.StockExchange}}</i></b>
    <b class="Label">( <i data-replace='Name'>{{searchStock.Name}}</i> )</b>
  <span class="Price"><b class="Label">Last Price</b> <b class="Stat">$<i data-replace='BidRealtime'>{{searchStock.LastTradePriceOnly}}</i></b></span>
  <span class="Change"><b class="Label">Change</b> <b class="Stat"><i data-replace='Change'>{{searchStock.Change}}</i></b> <b class="Stat">(<i data-replace='ChangeinPercent'>{{searchStock.ChangeinPercent}}</i>)</b></span>
  <span class="Volume"><b class="Label">Volume</b> <b class="Stat" data-replace='Volume'>{{searchStock.Volume}}</b></span>
  <span class="MarketCapitalization"><b class="Label">Mkt Cap</b> <b class="Stat">$<i data-replace="MarketCapitalization">{{searchStock.MarketCapitalization}}</i></b></span>
  <span class="LastUpdated"><b class="Label">Last Trade</b> <b class="Stat"><i data-replace='LastTradeDate'>{{searchStock.LastTradeTime}}</i> <i data-replace="LastTradeTime"></i> </b></span>
</div>
<br>

    <div class="row">
    <div class="page-header text-center">
      <h2> Current</h2>
    </div>
    <div ng-show="loading" class="text-center">
      <span class="loader"><span class="loader-inner"></span></span>
      <br><br>
    </div>
    <div ng-hide="loading">
      <table class="table">
      <thead>
        <tr>
          <th>Stock</th>
          <th>Qty</th>
          <th>Buy Price</th>
          <th>Current Price</th>
          <th>Profit</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="portfolioEmpty">
          <td>You currently have no stocks</td>
        </tr>
          <tr ng-repeat="x in portfolio">
            <td>{{ x.Name }}</td>
            <td>{{ x.qty }}</td>
            <td><a bs-tooltip data-type="info" data-title="Buy Date: {{x.bDate | date:'dd MMM yyyy'}}">{{ x.bPrice | currency}}</a></td>
            <td ><a bs-tooltip data-type="info" data-title="Change: {{x.ChangeinPercent}}">{{ x.LastTradePriceOnly | currency}}</a></td>
            <td ><a ng-class="{ red: x.itemTotal < 0, green: x.itemTotal > 1 }" bs-tooltip data-type="info" data-title="Individual Share Profit: {{(x.individualProfit)| currency}}">{{x.itemTotal | currency}}</a></td>
            <td> <button class="btn btn-danger" type="button" id="single-button" ng-click="sell(x)"><i class="fa fa-minus"></i></button> </td>
          </tr>
        </tbody>
        <tfoot>
          <tr >
            <td></td>
            <td></td>
            <td></td>
            <td><b>Current Profit: </b></td>
            <td ng-class="{ red: ownedProfit < 0 , green: ownedProfit > 1}"><b>{{ ownedProfit | currency}}</b></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div></div>

    <div class="row">
    <div class="page-header text-center">
      <h2 ng-class="{'active': historyActive}" ng-click="historyButton()" ng-mouseover="historyHover()">History</h2>
      <a ng-hide="historyActive" ng-class="{'active': isActive}" ng-click="historyButton()" ng-mouseover="historyHover()">Click to Show</a>
    </div>
    <div ng-show="historyLoad && historyActive" class="text-center">
      <span class="loader" ng-cloak><span class="loader-inner"></span></span>
      <br><br>
    </div>
    <table ng-show="historyActive && !historyLoad" class="table">
      <thead>
        <tr>
          <th>Stock</th>
          <th>Qty</th>
          <th>Buy Price</th>
          <th>Sell Price</th>
          <th>Profit</th>
          <th class="pull-right">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in history" class="animate-repeat">
          <td>{{ x.name }}</td>
          <td>{{ x.qty }}</td>
          <td><a bs-tooltip data-type="info" data-title="Buy Date: {{x.bDate | date:'dd MMM yyyy'}}">{{ x.bPrice | currency}}</a></td>
          <td><a bs-tooltip data-type="info" data-title="Sell Date: {{x.sDate | date:'dd MMM yyyy'}}">{{ x.sPrice | currency}}</a></td>
          <td ng-init="itemTotal = (x.sPrice - x.bPrice)*x.qty; soldProfitAdd(itemTotal)"><a ng-class="{ red: itemTotal < 0, green: itemTotal > 1 }" bs-tooltip data-type="info" data-title="Individual Share Profit: {{(x.sPrice-x.bPrice)| currency}}">{{ itemTotal | currency}}</a></td>
          <td><span ng-click="deleteHistory(x._id)"class="del noselect">&#10006;</span></td>
        </tr>
      </tbody>
      <tfoot>
        <tr >
          <td></td>
          <td></td>
          <td></td>
          <td><b>Total Profit: </b></td>
          <td ng-class="{ red: soldProfit < 0 , green: soldProfit > 1}" ><b>{{ soldProfit | currency}}</b></td>
        </tr>
      </tfoot>
      </table>
    </div>

</div>
